.adminimageregenerator .progress-bar-striped {
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 1rem 1rem;
}
.adminimageregenerator .progress-bar-animated {
    -webkit-animation: progress-bar-stripes 1s linear infinite;
    animation: progress-bar-stripes 1s linear infinite;
}
.adminimageregenerator .bg-success {
    background-color: #28A750!important;
}
/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

#radiusStatusGenerate .progress {
  width: 150px;
  height: 150px;
  background: none;
  position: relative;
}

#radiusStatusGenerate .progress::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}

#radiusStatusGenerate .progress>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

#radiusStatusGenerate .progress .progress-left {
  left: 0;
}

#radiusStatusGenerate .progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 6px;
  border-style: solid;
  position: absolute;
  top: 0;
}

#radiusStatusGenerate .progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

#radiusStatusGenerate .progress .progress-right {
  right: 0;
}

#radiusStatusGenerate .progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

#radiusStatusGenerate  .progress .progress-value {
  position: absolute;
  top: 0;
  left: 0;
}

 
#radiusStatusGenerate .rounded-lg {
  border-radius: 1rem;
}

#radiusStatusGenerate .text-gray {
  color: #aaa;
}

#radiusStatusGenerate div.h4 {
  line-height: 1rem;
}
#radiusStatusGenerate .progress
{
    margin: auto;
    box-shadow: none;
    }
    #radiusStatusGenerate .progress-bar span {
        color: #fff;
    }
    
    
#radiusStatusGenerate  .rounded-circle {
    border-radius: 50%!important;
}
#radiusStatusGenerate .d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
#radiusStatusGenerate .justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
#radiusStatusGenerate .align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}
#radiusStatusGenerate .ml-auto, #radiusStatusGenerate .mx-auto {
    margin-left: auto!important;
}
#radiusStatusGenerate .mr-auto,#radiusStatusGenerate .mx-auto {
    margin-right: auto!important;
}
#radiusStatusGenerate .border-success {
    border-color: #28a745!important;
}
#radiusStatusGenerate .progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    transition: width .6s ease;
}
#radiusStatusGenerate .progress .progress-left {
    left: 0;
}
#radiusStatusGenerate .progress .progress-right {
    right: 0;
}

#radiusStatusGenerate .progress .progress-value {
    position: absolute;
    top: 0;
    left: 0;
}
#radiusStatusGenerate .h-100 {
    height: 100%!important;
}
#radiusStatusGenerate .w-100 {
    width: 100%!important;
}
#radiusStatusGenerate .small,#radiusStatusGenerate small {
    font-size: 80%;
    font-weight: 400;
}
#radiusStatusGenerate sup {
    top: -.5em;
}
#radiusStatusGenerate sub, sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
#radiusStatusGenerate .progress {
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
}
#radiusStatusGenerate .d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
#radiusStatusGenerate .progress {
        height: 150px;
    background: none;
}


.progress-bar.progress-bar-striped.progress-bar-animated.bg-success {
    color: #fff;
}
iv#fieldset_0_6 {
    display: none !important;
}